.contenedor{
    width: 600px;
    height: 600px;
    
    border: 2px black solid;

    position: relative;
    left: 30%;
    top: 20%;

    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.item{
    width: 200px;
    height: 200px;

    font-size: medium;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

.item:first-child{
    background-color: red;
}

.item:nth-child(2){
    background-color: blue;
}

.item:last-child{
    background-color: green;
}