.contenedor{
    width: 600px;
    height: 600px;

    border: 2px black solid;

    position: relative;
    left: 20%;
    top: 20%;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.item{
    width: 200px;
    height: 200px;

    font-size: medium;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

.item:first-child{
    background-color: red;
}
.item:nth-child(2){
    background-color: blue;
}
.item:last-child{
    background-color: green;
}

.item:first-child::after{
    content: '1';    
}

.item:nth-child(2)::after{
    content: '2';
}

.item:last-child::after{
    content: '3';

}